@media screen and (prefers-reduced-motion: no-preference) {
    html,
    body {
        scroll-behavior: smooth;
        background: linear-gradient(0.25turn, lightblue, white, lightblue);
    }
}

.back-to-top-link {
    position: fixed;
    position: sticky;
    pointer-events: all;
    top: calc(100vh - 5rem);
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #D6E3F0;
    padding: 0.25rem;
}
.back-to-top-link:hover {
    background-color: #fff;
    transform: scale(1.1);
}
.back-to-top-link:focus {
    background-color: lightblue;
}

.back-to-top-wrapper {
    position: absolute;
    top: 100vh;
    right: 0.25rem;
    bottom: -5em;
    width: 3em;
    pointer-events: none;
}

main {
    padding: 0 3rem;
    position: relative;
    max-width: 50rem;
    margin: 2rem auto;
}
main:last-child {
    margin-bottom: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr 2fr auto;
}
header, footer {
    display: grid;
    place-items: center;
    margin: -1rem;
}
header {
    font-size: 3rem;
    color: beige;
    background-image: url(./eberhard-grossgasteiger-er8Bjy-33v4-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
footer {
    margin-top: 4rem;
    color: black;
}

#cut-diamond {
    border-style: solid;
    border-color: transparent transparent green transparent;
    border-width: 0 5px 5px 5px;
    height: 0;
    width: 10px;
    box-sizing: content-box;
    position: relative;
    margin: 5px 0 10px 0;
  }
  #cut-diamond:after {
    content: "";
    position: absolute;
    top: 5px;
    left: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: green transparent transparent transparent;
    border-width: 15px 10px 0 10px;
  }
  
  

/* https://moderncss.dev/pure-css-smooth-scroll-back-to-top/ */